---

---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>aaa - Shield Icon Test</title>

    <script is:inline src="/huk/header.min.js"></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.c.huk.de/core/cookiebanner/2/cookiebanner.css"
    />
    <script
      src="https://static.c.huk.de/core/cookiebanner/2/cookiebanner.js"
      defer></script>

    <link
      rel="stylesheet"
      href="/huk/clientlib-dependencies.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/huk/clientlib-site.min.css" type="text/css" />
    <script is:inline src="/huk/clientlib-dependencies.min.js"></script>
    <script is:inline src="/huk/clientlib-site.min.js"></script>

    <script
      src="https://static.c.huk.de/core/smartcomponents/header/2/smart-components.esm.js"
      type="module"></script>

    <script
      src="https://static.c.huk.de/core/smartcomponents/contentfragments/1/smart-components.esm.js"
      type="module"></script>
    <script
      type="module"
      src="https://static.c.huk.de/shield/components/1.6/lib/lib.esm.js"
    ></script>

    <link
      rel="stylesheet"
      href="https://static.c.huk.de/shield/components/1.6/stencil-cls.css"
    />
    <link
      rel="stylesheet"
      href="https://static.c.huk.de/shield/css-framework/1.6/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://static.c.huk.de/shield/themes/1.6/hukde/theme.css"
    />

    <link rel="stylesheet" href="/huk/header_shield.min.css" type="text/css" />
  </head>
  <body>
    <img
      fetchpriority="high"
      src="https://static.c.huk.de/content/dam/hukde/images/produktseite/buehne/buehne-moeller-winter-index.scale.shield_buehne1000_2x.jpg"
    />
  </body>
</html>
