---
import Sources_head from "../../../components/sources_head.astro";
import Sources_body from "../../../components/sources_body.astro";
import HukContent from "../../../components/huk_content.astro";

const test = {
  la: 123,
  lu: 3443,
};
---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>Performance Test</title>
    <Sources_head mode={test} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex,nofollow" />
  </head>
  <body>
    <!-- <img
      src="https://static.c.huk.de/content/dam/hukde/images/produktseite/buehne/buehne-moeller-winter-index.scale.shield_buehne1000_2x.jpg"
    /> -->
    <HukContent />
    <Sources_body mode={test} />
  </body>
</html>
