---
import Head from "./../partials/head.astro";


---

<html lang="de">
	<Head />
	<body>
		<div class="s:container">
			<h1 class="s:my-8">comparing load performance of x icons</h1>
      <a class="s:d-flex" href="">plain html <code>img</code> + css filter</a>
      <a class="s:d-flex" href="">css mask image with background color</a>
      <a class="s:d-flex" href="">custom iconfont</a>
		</div>
	</body>
</html>
