---
import LayoutA11y from "./../layout/layout_a11y.astro";
---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iOS native multiple select</title>
    <style>
      input,
      button {
        border: 1px solid #ddd;
      }
    </style>
  </head>

  <body>
    <div class="s:container s:prose s:py-8">
      <form method="get">
        <label>
          Select was:
          <select name="test" id="" required multiple>
            <option value="opel">opel</option>
            <option value="vw">vw</option>
            <option value="volvo">volvo</option>
            <option value="batmobil">batmobil</option>
          </select>
        </label>
        <button type="submit">submit</button>
        <button type="reset">reset</button>
      </form>
    </div>
  </body>
</html>
