---
import LayoutA11y from "./../layout/layout_a11y.astro";
---

<LayoutA11y>
  <div class="s:container s:prose s:py-8">
    <form method="get">
      <label>
        Selecte was:
        <select name="test" id="" required multiple>
          <option value="opel">opel</option>
          <option value="vw">vw</option>
          <option value="volvo">volvo</option>
          <option value="batmobil">batmobil</option>
        </select>
      </label>
    </form>
  </div>
</LayoutA11y>
