<s-dialog id="dia-add" close-button="true" dismissible="true">
  <h6 slot="prepend">neue Krankheit erfinden</h6>

  <div class="s:prose">
    <p>Welche Krankheit möchten sie Wählen</p>
    <s-select>
      <s-menu-item value="option-1" label="Menu-Item 1"></s-menu-item>
      <s-menu-item value="option-2" label="Menu-Item 2"></s-menu-item>
      <s-menu-item value="option-3" label="Menu-Item 3"></s-menu-item>

      <s-icon slot="iconStartInner" size="md" name="info" variant="outlined"></s-icon>
      <span slot="label">Label</span>
      <span slot="helptext">Helptext</span>
    </s-select>
  </div>

  <!-- with form no javascript is needed, but form-fields an buttons must be in same form -->
  <!-- you just can do it like before with JS with open() closeDialog() Method -->
  <menu class="s:d-flex s:justify-between s:my-6" style="--grid-gap-x: var(--spacing-2)">
    <s-button type="submit" variant="subdued" color="critical">Abbrechen</s-button>
    <s-button type="submit" variant="subdued" color="positive">Speichern</s-button>
  </menu>
</s-dialog>
<s-dialog id="dia-no" close-button="true" dismissible="true">
  <h6 slot="prepend">Erklärung zu "Nein"</h6>

  <div class="s:prose">
    <p>Der Berechnung liegen folgende Merkmale zugrunde:</p>
    <p>Alter: entsprechend Ihrer Eingabe</p>
    <p>Todesfallschutz / Laufzeit:</p>
    <ul>
      <li>Alter 18-44: 200.000 € / 20 Jahre</li>
      <li>Alter 45-65: 100.000 € / 10 Jahre</li>
      <li>Alter 66-74: 50.000 € / Versicherungsschutz bis Alter 75</li>
    </ul>
    <p>Beruf: Lehrer/in, ab Alter 66: Rentner/in, Pensionär/in</p>
    <p>Größe/Gewicht: 180 cm/75 kg</p>
    <p>Nichtraucher seit mind. 10 Jahren</p>
    <p>Kein Motorradfahrer</p>
    <p>Risikolebensversicherung Classic</p>
    <p>Normaltarif, der jedem Kunden offensteht</p>
    <p>mtl. Beitrag nach Verrechnung der Überschüsse (Nettobeitrag)</p>
  </div>

  <!-- with form no javascript is needed, but form-fields an buttons must be in same form -->
  <!-- you just can do it like before with JS with open() closeDialog() Method -->
  <!-- <menu class="s:d-flex s:justify-end" style="--grid-gap-x: var(--spacing-2)">
          <s-button type="submit" variant="outlined">Abbrechen</s-button>
          <s-button type="submit">Appended Button</s-button>
        </menu> -->
</s-dialog>
<s-dialog id="dia-yes" close-button="true" dismissible="true">
  <h6 slot="prepend">Erklärung zu "Ja"</h6>

  <div class="s:prose">
    <p>Todesfallschutz / Laufzeit:</p>
    <ul>
      <li>Alter 18-44: 200.000 € / 20 Jahre</li>
      <li>Alter 45-65: 100.000 € / 10 Jahre</li>
      <li>Alter 66-74: 50.000 € / Versicherungsschutz bis Alter 75</li>
    </ul>
  </div>
  <s-button type="submit" variant="outlined">Abbrechen</s-button>
</s-dialog>
