<div class="s:d-flex s:flex-col">
  <div class="demo-header-container s:paper s:box-shadow-lg s:pt-1 s:sticky s:top-0 s:z-25">
    asdasd
    <div class="demo-header-animate-wrapper">
      <div class="demo-header-animate-inner"></div>
    </div>
    <div>
      <div class="demo-nav-container s:m-a s:px-4">
        <div class="s:d-flex s:flex-col s:gap-0 s:text-nowrap s:pt-1">
          <s-badge class="s:self-end" content="Vouchertext" inline="true" color="accent"></s-badge>
          <div class="s:d-flex s:pt-1">
            <div class="s:flex-1 s:overflow-hidden s:text-truncate s:text-bold">Vertragspartner</div>
            <div class="s:flex-0 s:text-h5 s:line-height-xs">ab 129,94 €</div>
          </div>
          <div class="s:self-end s:text-subdued s:line-height-xs">Jährlich</div>
        </div>
      </div>
      <nav class="demo-nav-container s:m-a">
        <ul class="s:auto-grid s:text-center s:p-0 s:marker-none s:gap-1" style="--width: 4ch;">
          <li class="s:p-0 s:d-flex s:flex-col">
            <button class="s:py-1 s:border-b-md s:border-primary s:overflow-hidden s:text-truncate s:text-bold">
              <span class="s:d-hidden s:md:d-block">Fahrzeugdaten</span>
            </button>
          </li>
          <li class="s:p-0 s:d-flex s:flex-col">
            <button class="s:py-1 s:border-b-md s:border-accent s:overflow-hidden s:text-truncate s:text-bold">
              <span class="s:d-hidden s:md:d-block">Vertragspartner</span>
            </button>
          </li>
          <li class="s:p-0 s:d-flex s:flex-col">
            <button class="s:py-1 s:border-b-md s:border-subdued s:overflow-hidden s:text-truncate s:text-disabled" disabled="">
              <span class="s:d-hidden s:md:d-block">Antragsdetails</span>
            </button>
          </li>
          <li class="s:p-0 s:d-flex s:flex-col">
            <button class="s:py-1 s:border-b-md s:border-subdued s:overflow-hidden s:text-truncate s:text-disabled" disabled="">
              <span class="s:d-hidden s:md:d-block">Übersicht</span>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <slot />

  <!-- <main class="s:container-narrow s:d-flex s:flex-col">
    <h5 class="s:text-center s:py-6">You can scroll down and up</h5>
    <div class="s:paper s:box-shadow-sm s:p-4 s:border-sm s:border-accent">
      <p>
        <strong>Hinweis:</strong>
        Nur in der Mobilen Ansicht, in dieser Demo, wird der Reduced Header beim Scrollen aus und eingeblendet.
      </p>
    </div>
    <div class="s:paper s:box-shadow-sm s:p-4">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum id laboriosam repellat fugit, impedit quod debitis itaque culpa mollitia distinctio adipisci? Sapiente aliquid laudantium esse inventore culpa a dicta harum?</p>
    </div>
    <div class="s:paper s:box-shadow-sm s:p-4">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum id laboriosam repellat fugit, impedit quod debitis itaque culpa mollitia distinctio adipisci? Sapiente aliquid laudantium esse inventore culpa a dicta harum?</p>
    </div>
    <div class="s:paper s:box-shadow-sm s:p-4">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum id laboriosam repellat fugit, impedit quod debitis itaque culpa mollitia distinctio adipisci? Sapiente aliquid laudantium esse inventore culpa a dicta harum?</p>
    </div>
    <div class="s:paper s:box-shadow-sm s:p-4">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum id laboriosam repellat fugit, impedit quod debitis itaque culpa mollitia distinctio adipisci? Sapiente aliquid laudantium esse inventore culpa a dicta harum?</p>
    </div>
    <div class="s:paper s:box-shadow-sm s:p-4">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum id laboriosam repellat fugit, impedit quod debitis itaque culpa mollitia distinctio adipisci? Sapiente aliquid laudantium esse inventore culpa a dicta harum?</p>
    </div>
    <div class="s:paper s:box-shadow-sm s:p-4">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum id laboriosam repellat fugit, impedit quod debitis itaque culpa mollitia distinctio adipisci? Sapiente aliquid laudantium esse inventore culpa a dicta harum?</p>
    </div>
    <div class="s:paper s:box-shadow-sm s:p-4">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum id laboriosam repellat fugit, impedit quod debitis itaque culpa mollitia distinctio adipisci? Sapiente aliquid laudantium esse inventore culpa a dicta harum?</p>
    </div>
  </main> -->

  <!-- Reduced Footer in einfach -->
  <footer class="s:bg-neutral-subdued s:py-4">
    <div class="s:container s:d-flex s:flex-col s:sm:flex-row s:justify-between s:text-caption">
      <nav class="s:flex-1">
        <ul class="s:marker-none s:p-0 s:d-flex s:flex-wrap s:gap-x-4 s:gap-y-1">
          <li><a href="">Impressum</a></li>
          <li><a href="">Datenschutz</a></li>
          <li><a href="">Privatsphäre-Einstellungen</a></li>
        </ul>
      </nav>
      <div class="s:flex-0">© 2024 HUK-COBURG Versicherungsgruppe</div>
    </div>
  </footer>
</div>
<script>
  // It's just a Demo
  const header = document.querySelector(".demo-header-container");
  const initOffset = 100;
  let lastScrollTop = 0;

  // please throttle
  let isThrottled = false;

  window.onscroll = function () {
    if (!isThrottled) {
      scrollHide();
      isThrottled = true;

      setTimeout(function () {
        isThrottled = false;
      }, 200);
    }
  };

  function scrollHide() {
    const st = window.pageYOffset || document.documentElement.scrollTop;
    console.log(st);
    if (st > lastScrollTop && st > initOffset) {
      header.classList.add("scrolled");
    } else {
      header.classList.remove("scrolled");
    }
    lastScrollTop = st <= 0 ? 0 : st;
  }
</script>
