---

---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shield Forms</title>
    <script is:inline>
      window.smcAuthorPath = "https://static24.c.huk.de";
      window.shieldPathForAuthor = "https://static.c.huk24.de/shield/components/1.6/lib";
    </script>
    <script type="module" src="https://static.c.huk24.de/shield/components/1.6/lib/lib.esm.js"></script>
    <link rel="stylesheet" href="https://static.c.huk24.de/shield/css-framework/1.6/css/all.css" />
    <link rel="stylesheet" href="https://static.c.huk24.de/shield/themes/1.6/huk24/theme.css" />
  </head>
  <body class="s:bg-neutral-100">
    <slot />
  </body>
</html>
